.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 880px;
}

@media screen and (max-width: 615px) {
  .profile {
    flex-direction: column;
    margin-left: 19px;
    margin-right: 19px;
  }
}