.header__logo {
  max-width: 142px;
  margin-bottom: 41px;
}

@media screen and (max-width: 910px) {
  .header__logo {
    margin: 0 27px 41px;
  }
}

@media screen and (max-width: 325px) {
  .header__logo {
    /* margin: 0 27px 31px; */
    margin:35px 7px 0;
    max-width: 104px;
  }
}
