.profile__avatar {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 615px) {
  .profile__avatar {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 22px;
  }
}
