.popup__container {
  background: #ffffff;

  width: 430px;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);

  border-radius: 10px;

  display: flex;

  flex-direction: column;

  position: relative;

  padding: 34px 36px 37px;

  box-sizing: border-box;
}

@media screen and (max-width: 530px) {
  .popup__container {
    padding: 25px 22px 0;

    width: 282px;
  }
}
