.popup__input { 

  background-color: transparent; 

  border: none; 

  border-bottom: 1px solid rgba(0, 0, 0, 0.2); 

  padding-bottom: 8px; 

  font-weight: 400; 

  font-size: 14px; 

  line-height: 17px; 

  padding-left: 0; 

} 

 

@media screen and (max-width: 530px) { 

  .popup__input { 

    max-width: 238px; 

  } 

} 