.header {
  display: flex;
  margin: 45px auto 40px;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
}

@media screen and (max-width: 910px) {
  .header {
    margin: 45px auto 25px;
  }
}

@media screen and (max-width: 325px) {
  .header {
    margin: 28px 0 38px;
  }
}
